<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create Users</a>
    </div>
    <div class="form-add-new">
      <form action="/update-user/" method="POST">
        <fieldset>
          <legend>Update User:</legend>
          <input type="hidden" name="id" value="<%= user.id %>" id="id">
          <label for="email">Email:</label>
          <input type="text" value="<%= user.email  %>" id="email" name="email" /><br /><br />
          <label for="name">Name:</label>
          <input type="text" value="<%= user.name  %>"  id="name" name="name" /><br /><br />
          <label for="city">City:</label>
          <input type="text" value="<%= user.city  %>"  id="city" name="city" /><br /><br />
          <button type="submit">Save</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
